## [ 제약 조건 ]
---
### [ 1. 제약 조건 종류 ]
#### (1) 제약 조건이란?

- `제약조건` :
    - 테이블의 특정 열에 지정
    - 제약 조건을 지정한 열에 제약 조건에 부합하지 않는 데이터를 저장할 수 없다.
    - 제약 조건 지정 방식에 따라 기존 데이터의 수정이나 삭제 가능 여부도 영향을 받는다.
    - ex) ID, EMAIL 중복 허용X, 특정 데이터열에 NULL 허용X
    
    
- 제약 조건의 종류
    - `데이터무결성`을 보장하기 위해 아래와 같은 제약조건을 제공한다.
    - 제약 조건은 테이블 생성할 때 주로 지정한다.
    - 하지만, 테이블 생성 후에도 추가/변경/삭제가 가능하다.
    - 따라서, 제약 조건은 `데이터 정의어(DDL)`에서 활용가능하다.

|종류|설명|
|:---------|:----------------------------------------------------------------------|
|`NOT NULL`| 지정한 열에 NULL을 허용하지 않는다. NULL을 제외한 데이터의 중복은 허용|
|`UNIQUE`|지정한 열에 유일한 값을 가져야 한다. 즉 중복X, 단 NULL값의 중복은 제외|
|`PRIMARY KEY`| 지정한 열이 유일한 값이면서 NULL을 허용하지 않는다. PRIMARY KEY는 테이블에 하나만 지정가능|
|`FOREIGN KEY`|다른 테이블의 열을 참조하여 존재하는 값만 입력할 수 있다.|
|`CHECK`|설정한 조건식을 만족하는 데이터만 입력 가능하다.|

---
### [ 2. 반값을 허락하지 않는 NOT NULL ]
#### (1) 테이블을 생성하며 제약 조건 지정
- `NOT NULL` :
    - 특정 열에 데이터의 중복 여부와는 상관없이 NULL의 저장을 허용하지 않는 제약조건
    - 반드시 열에 값이 존재해야만 하는 경우에 지정
    - 열 이름과 자료형 뒤에 NOT NULL 키워드를 명시하여 지정한다.

#### (1-1) 테이블 생성할 떄 NOT NULL 설정하기

In [ ]:
--- 14-1

CREATE  TABLE   TABLE_NOTNULL(
    LOGIN_ID    VARCHAR2(20)    NOT NULL,
    LOGIN_PWD   VARCHAR2(20)    NOT NULL,
    TEL         VARCHAR2(20)    
);

DESC TABLE_NOTNULL;

결과 :
<img width="448" alt="1-1-1" src="https://user-images.githubusercontent.com/53929665/94922633-8df3dd00-04f5-11eb-9ee5-92dfcf486e7b.PNG">

#### (1-2) 제약 조건이 NOT NULL인 열에 NULL 값 넣어보기

In [ ]:
--- 14-2

INSERT INTO TABLE_NOTNULL (LOGIN_ID, LOGIN_PWD, TEL)
VALUES('TEST_ID_01', NULL, '010-1234-5678');

결과 :
- LOGIN_ID, LOGIN_PWD 열은 반드시 NULL이 아닌 값을 지정하도록 강제로 지정되고 있다.

<img width="271" alt="1-1-2" src="https://user-images.githubusercontent.com/53929665/94922636-8e8c7380-04f5-11eb-81b1-cf39251d5598.PNG">

#### (1-3) 제약 조건이 없는 TEL 열에 NULL 값 입력하기

In [ ]:
--- 14-3

INSERT INTO TABLE_NOTNULL (LOGIN_ID, LOGIN_PWD)
VALUES('TEST_ID_01', '1234');

SELECT * FROM TABLE_NOTNULL;

결과 :
- 반면에 TEL열은 별다른 제약 조건을 지정하지 않았으므로 값을 지정하지 않아도 오류가 발생하지 않는다.

<img width="148" alt="1-1-3" src="https://user-images.githubusercontent.com/53929665/94922638-8f250a00-04f5-11eb-987b-3b4cf6f8fd84.PNG">

#### (1-4) NOT NULL 제약 조건이 지정된 열 데이터를 NULL 값으로 업데이트하기

In [ ]:
--- 14-4

UPDATE TABLE_NOTNULL
    SET LOGIN_PWD = NULL
    WHERE LOGIN_ID = 'TEST_ID_01';

결과 :
- 열의 제약 조건으로 NOT NULL을 지정하면  
`UPDATE`문을 사용하여 LOGIN_ID 또는 LOGIN_PWD 열 값을 NULL로 수정하는 것이 불가능하다.
- 따라서, 제약 조건은 데이터의 삽입/수정/삭제에도 영향을 준다는 것을 알 수 있다.

<img width="271" alt="1-1-4" src="https://user-images.githubusercontent.com/53929665/94922640-8f250a00-04f5-11eb-98bb-d7337b28b0e2.PNG">

#### (2) 제약 조건 확인
- 지정한 제약 조건 정보를 확인하려면  
다음과 같은 열 구성을 가진  `USER_CONSTRATINTS`데이터 사전을 활용한다.
<img width="451" alt="3" src="https://user-images.githubusercontent.com/53929665/94919939-4a4aa480-04f0-11eb-9adf-f18c9efbb3bc.PNG">

#### (2-1) 제약 조건 살펴보기 (SCOTT 계정)
- 다음 SELECT문을 사용하면 SCOTT 계정 소유의 제약 조건을 확인할 수 있다.

In [ ]:
--- 14-5

SELECT OWNER, CONSTRAINT_NAME, CONSTRAINT_TYPE, TABLE_NAME
    FROM USER_CONSTRAINTS;

결과 : 
- 앞서 생성한 TABLE_NOTNULL의 제약조건도 확인 가능하다.

<img width="312" alt="2-2-1" src="https://user-images.githubusercontent.com/53929665/94922644-90563700-04f5-11eb-9db3-4dbb343b5bbd.PNG">

#### (3) 제약 조건 이름 직접 지정
- 제약 조건은 이름을 따로 지정해 주지않으면 오라클에서 자동으로 이름을 지정한다.
    - ex) 앞의 예제에서는 SYS_C0011053, SYS_C0011054로 지정되었다.
- 제약 조건에 이름을 직접 설정하려면 `CONSTRAINT`키워드를 사용해야한다.

#### (3-1) 테이블을 생성할 때 제약 조건에 이름 지정하기

In [ ]:
--- 14-6

CREATE TABLE TABLE_NOTNULL2(
    LOGIN_ID  VARCHAR2(20) CONSTRAINT TBLNN2_LGNID_NN NOT NULL,
    LOGIN_PWD VARCHAR2(20) CONSTRAINT TBLNN2_LGNPWD_NN NOT NULL,
    TEL       VARCHAR2(20)
);

SELECT OWNER, CONSTRAINT_NAME, CONSTRAINT_TYPE, TABLE_NAME
    FROM USER_CONSTRAINTS;

결과 : 설정한 제약 조건 이름이 저장되어 있는 것을 확인할 수 있다.

<img width="312" alt="2-3-1" src="https://user-images.githubusercontent.com/53929665/94922646-90563700-04f5-11eb-89f0-e7a4e2dd688c.PNG">

#### (4) 이미 생성한 테이블에 제약 조건 지정
- 앞에서 보았듯이 제약 조건은 데이터와 테이블을 설계하는 시점  
즉, 데이터베이스 사용 주기에서 비교적 초기에 지정하는 것이 일반적이다.


- 하지만, 경우에 따라서 이미 생성되어 있는 테이블에 제약 조건을  
추가하거나 변경 또는 삭제해야 하는 경우도 종종 생긴다.

#### (4-1) 생성한 테이블에 제약 조건 추가하기
- NOT NULL 제약 조건의 추가는 `ALTER`명령어와 `MODIFY`키워드가 사용된다.


- 하지만, NOT NULL제약 조건을 추가하려 했는데,  
다음과 같이 이미 TEL 열의 데이터 중 NULL 값이 존재하기 때문에 제약 조건이 추가되지 않는다.

In [ ]:
--- 14-7 TEL 열에 NOT NULL 제약 조건 추가하기

ALTER TABLE TABLE_NOTNULL
MODIFY(TEL NOT NULL);

결과 : 오류 발생

<img width="271" alt="2-4-1(1)" src="https://user-images.githubusercontent.com/53929665/94922648-90eecd80-04f5-11eb-91e1-e34bfe96b038.PNG">

- 그렇다면, 다음 UPDATE문으로 기존 TEL열을 NULL이 아닌 데이터로 수정하여 제약조건을 수정하면 다음과 같다.

In [ ]:
--- 14-8 TEL 열 데이터 수정하기

UPDATE TABLE_NOTNULL
    SET TEL = '010-1234-5678'
    WHERE LOGIN_ID = 'TEST_ID_01';

In [ ]:
--- 14-9 NOT NULL 제약 조건 추가하기

ALTER TABLE TABLE_NOTNULL
MODIFY(TEL NOT NULL);

SELECT OWNER, CONSTRAINT_NAME, CONSTRAINT_TYPE, TABLE_NAME
    FROM USER_CONSTRAINTS;

결과 :
- TEL열에 NULL을 가진 데이터가 없으므로 NOT NULL제약조건이 별다른 오류 없이 지정된다.

<img width="322" alt="2-4-1(2)" src="https://user-images.githubusercontent.com/53929665/94922650-90eecd80-04f5-11eb-832d-b01f4ac12618.PNG">

#### (4-2) 생성한 테이블에 제약 조건 이름을 직접 지정해서 추가하기
- 제약 조건을 추가하면서 제약 조건 이름을 직접 지정하려면 CREATE와 마찬가지로 `CONSTRAINT`키워드를 사용한다.

In [ ]:
--- 14-10

ALTER TABLE TABLE_NOTNULL2
MODIFY(TEL CONSTRAINT TBLNN_TEL_NN NOT NULL);

SELECT OWNER, CONSTRAINT_NAME, CONSTRAINT_TYPE, TABLE_NAME
    FROM USER_CONSTRAINTS;

결과 :
<img width="312" alt="2-4-2" src="https://user-images.githubusercontent.com/53929665/94922652-91876400-04f5-11eb-8733-f0291a9377dc.PNG">

#### (4-3) 생성한 제약 조건의 이름 변경하기
- 이미 생성한 제약 조건 이름을 변경하려면 `ALTER`명령어에 `RENAME CONSTRAINT`키워드를 사용한다.

In [ ]:
--- 14-12

ALTER TABLE TABLE_NOTNULL2
RENAME CONSTRAINT TBLNN_TEL_NN TO TBLNN2_TEL_NN;

SELECT OWNER, CONSTRAINT_NAME, CONSTRAINT_TYPE, TABLE_NAME
    FROM USER_CONSTRAINTS;

결과 : TABLE_NOTNULL2테이블에 속한 TEL열의 제약조건의 이름이 TBLNN_TEL_NN이 TBLNN2_TEL_NN로 변경되었다.

<img width="311" alt="2-4-3" src="https://user-images.githubusercontent.com/53929665/94922654-91876400-04f5-11eb-8a56-43b0d1406e44.PNG">

#### (5) 제약 조건 삭제
- `ALTER`명령어에 `DROP CONSTRAINT`키워드를 사용하면 지정한 제약 조건을 삭제할 수 있다.

In [ ]:
--- 14-13

ALTER TABLE TABLE_NOTNULL2
DROP CONSTRAINT TBLNN2_TEL_NN;

DESC TABLE_NOTNULL2;

결과 : NOT NULL제약조건이 삭제되어 Null? 열의 데이터 값이 Y로 수정된 것을 확인 할 수 있다.

<img width="449" alt="2-5" src="https://user-images.githubusercontent.com/53929665/94922655-921ffa80-04f5-11eb-96b7-bdfa18d6bebe.PNG">

---
### [ 3. 중복되지 않은 값 UNIQUE ]
#### (1) 테이블을 생성하며 제약 조건 지정
- `UNIQUE` 제약조건
    - 열에 저장할 데이터의 중복을 허용하지 않고자 할 때 사용
    - ☑ NULL은 값이 존재하지 않음을 의미하기 떄문에 중복 대상에서 제외된다.
    - UNIQUE 제약 조건 역시 CREATE문으로 테이블을 생성할 때 지정할 수 있다.

In [ ]:
--- 14-14

CREATE TABLE TABLE_UNIQUE(
    LOGIN_ID    VARCHAR2(20)    UNIQUE,
    LOGIN_PWD   VARCHAR2(20)    NOT NULL,
    TEL         VARCHAR2(20)
);

DESC TABLE_UNIQUE;

결과 :
<img width="447" alt="3-1" src="https://user-images.githubusercontent.com/53929665/94929026-7f122800-04ff-11eb-96da-3dfff986ecfd.PNG">

#### (2) 제약 조건 확인
- `USER_CONSTRAINTS`데이터 사전에서  
CONSTRAINT_TYPE 열 값이 `U`일 경우에 UNIQUE제약 조건을 의미한다.

In [ ]:
--- 14-15

SELECT OWNER, CONSTRAINT_NAME, CONSTRAINT_TYPE, TABLE_NAME
    FROM USER_CONSTRAINTS
    WHERE TABLE_NAME = 'TABLE_UNIQUE';

결과 :

<img width="305" alt="3-2" src="https://user-images.githubusercontent.com/53929665/94929032-7faabe80-04ff-11eb-894b-05696611133f.PNG">

#### (3) 중복을 허락하지 않는 UNIQUE
- `UNIQUE` 제약 조건을 지정한 LOGIN_ID 열은 중복 값이 저장되지 않는다.

In [ ]:
--- 14-16 TABLE_UNIQUE 테이블에 데이터 입력하기 (첫번째 입력)

INSERT INTO TABLE_UNIQUE(LOGIN_ID, LOGIN_PWD, TEL)
VALUES ('TEST_ID_01', 'PWD01', '010-1234-5678');

SELECT * FROM TABLE_UNIQUE;

In [ ]:
--- 14-17 LOGIN_ID 열에 중복되는 데이터 넣기 (같은 ID 두번째 입력)

INSERT INTO TABLE_UNIQUE(LOGIN_ID, LOGIN_PWD, TEL)
VALUES ('TEST_ID_01', 'PWD01', '010-1234-5678');

결과 : UNIQUE 제약 조건이 지정되어 있는 LOGIN_ID 열에서의 중복된 값으로 인한 에러 발생

<img width="271" alt="3-3(1)" src="https://user-images.githubusercontent.com/53929665/94929033-80435500-04ff-11eb-9ce4-79d5531aab70.PNG">

In [ ]:
-- 14-18  TABLE_UNIQUE 테이블에 데이터 입력하기 (다른 ID 입력)

INSERT INTO TABLE_UNIQUE(LOGIN_ID, LOGIN_PWD, TEL)
VALUES('TEST_ID_02', 'PWD01', '010-1234-5678');

SELECT * FROM TABLE_UNIQUE;

결과 : 
- 다른 값을 지정할 경우는 문제 없이 잘 실행된다.
- 또한, LOGIN_PWD는 NOT NULL제한조건을 가졌기에 중복된 값을 가져도 상관없다.

<img width="198" alt="3-3(2)" src="https://user-images.githubusercontent.com/53929665/94929035-80dbeb80-04ff-11eb-9000-c4b7dcb435b7.PNG">

#### (4) UNIQUE 제약 조건과 NULL값
- `UNIQUE`제약 조건은 열 값의 중복은 허용하지 않지만 NULL 값은 저장 가능하다.  
따라서, `UNIQUE`제약 조건이 지저왼 열에는 NULL이 여러 개 존재 할 수 있다.

In [ ]:
--- 14-19 UNIQUE 제약 조건이 지정된 열에 NULL 값 입력하기

INSERT INTO TABLE_UNIQUE(LOGIN_ID, LOGIN_PWD, TEL)
VALUES(NULL, 'PWD01', '010-1234-5678');

SELECT * FROM TABLE_UNIQUE;

결과 :

<img width="201" alt="3-4" src="https://user-images.githubusercontent.com/53929665/94929037-80dbeb80-04ff-11eb-9f94-0a24185a379b.PNG">

#### (5) 테이블을 생성하며 제약 조건 이름 직접 지정
- `UNIQUE`제약 조건 역시 조건 이름을 지정할 수 있으며 지정하지 않으면 오라클이 자동으로 제약 조건 이름을 정해 준다.

In [ ]:
--- 14-21 테이블 생성할 때 UNIQUE 제약 조건 설정 및 제약 조건 확인하기

CREATE TABLE TABLE_UNIQUE2(
    LOGIN_ID    VARCHAR2(20) CONSTRAINT TBLUNQ2_LGNID_UNQ UNIQUE,
    LOGIN_PWD   VARCHAR2(20) CONSTRAINT TBLUNQ2_LGNPW_NN NOT NULL,
    TEL         VARCHAR2(20)
);

SELECT OWNER, CONSTRAINT_NAME, CONSTRAINT_TYPE, TABLE_NAME
    FROM USER_CONSTRAINTS
    WHERE TABLE_NAME LIKE 'TABLE_UNIQUE%';

결과 :

<img width="318" alt="3-5" src="https://user-images.githubusercontent.com/53929665/94929039-81748200-04ff-11eb-8de6-d3026f00b69f.PNG">

#### (6) 이미 생성한 테이블에 제약 조건 지정
- `ALTER`명령어로 이미 생성되어 있는 테이블에 `UNIQUE`제약조건을 추가할 수 있다.

#### (6-1) 생성한 테이블에 제약 조건 추가하기

In [ ]:
--- 14-23 이미 생성한 테이블 열에 UNIQUE 제약 조건 추가하기

ALTER TABLE TABLE_UNIQUE
MODIFY(TEL UNIQUE);

결과 : TEL열에 이미 중복된 열이 있기 때문에 오류 발생

<img width="278" alt="3-6-1(1)" src="https://user-images.githubusercontent.com/53929665/94929041-81748200-04ff-11eb-9940-f78e23cf09f8.PNG">

- 중복된 열을 모두 삭제하기 위해 다음과 같은 쿼리 진행

In [ ]:
--- 14-24 TEL 열 값을 모두 NULL값으로 변경하기

UPDATE TABLE_UNIQUE
    SET TEL = NULL;

SELECT * FROM TABLE_UNIQUE;

- 제약 조건 설정하기

In [ ]:
--- 14-25
ALTER TABLE TABLE_UNIQUE
MODIFY(TEL UNIQUE);

SELECT OWNER, CONSTRAINT_NAME, CONSTRAINT_TYPE, TABLE_NAME
    FROM USER_CONSTRAINTS
    WHERE TABLE_NAME LIKE 'TABLE_UNIQUE%';

결과 :

<img width="315" alt="3-6-1(2)" src="https://user-images.githubusercontent.com/53929665/94929043-820d1880-04ff-11eb-8a39-df09f4742985.PNG">

#### (6-2) 생성한 테이블에 제약 조건 이름 직접 지정하거나 바꾸기
- `UNIQUE`제약 조건 역시 `CONSTRAINT`를 이용하여 이름을 바꿀 수 있다.

In [ ]:
--- 14-26

ALTER TABLE TABLE_UNIQUE2
MODIFY(TEL CONSTRAINT TBLUNQ_TEL_UNQ UNIQUE);

SELECT OWNER, CONSTRAINT_NAME, CONSTRAINT_TYPE, TABLE_NAME
    FROM USER_CONSTRAINTS
    WHERE TABLE_NAME LIKE 'TABLE_UNIQUE%';

결과 :

<img width="315" alt="3-6-2" src="https://user-images.githubusercontent.com/53929665/94929044-820d1880-04ff-11eb-9163-4b63f6d783d4.PNG">

#### (6-3) 생성한 UNIQUE 제약 조건의 이름 변경하기
- `RENAME CONSTRAINT`

In [ ]:
--- 14-27

ALTER TABLE TABLE_UNIQUE2
RENAME CONSTRAINT TBLUNQ_TEL_UNQ TO TBLUNQ2_TEL_UNQ;

SELECT OWNER, CONSTRAINT_NAME, CONSTRAINT_TYPE, TABLE_NAME
    FROM USER_CONSTRAINTS
    WHERE TABLE_NAME LIKE 'TABLE_UNIQUE%';

결과 :

<img width="305" alt="3-6-3" src="https://user-images.githubusercontent.com/53929665/94929045-82a5af00-04ff-11eb-8a93-2c7f280c3115.PNG">

#### (7) 제약 조건 삭제
- `DROP CONSTRAINT`

In [ ]:
--- 14-28

ALTER TABLE TABLE_UNIQUE2
DROP CONSTRAINT TBLUNQ2_TEL_UNQ;

SELECT OWNER, CONSTRAINT_NAME, CONSTRAINT_TYPE, TABLE_NAME
    FROM USER_CONSTRAINTS
    WHERE TABLE_NAME LIKE 'TABLE_UNIQUE%';

결과 :  TBLUNQ2_TEL_UNQ 제약조건이 삭제되었음을 확인 할 수 있다.

<img width="317" alt="3-7" src="https://user-images.githubusercontent.com/53929665/94929048-833e4580-04ff-11eb-8fb3-87f14704a663.PNG">

---
### [ 4. 유일하게 하나만 있는 값 PRIMARY KEY ]
#### (1) 테이블을 생성하며 제약 조건 지정하기
- `PRIMARY KEY`제약조건 :
    - `UNIQUE`와 `NOT NULL`제약 조건의 특성을 모두 가지는 제약 조건이다.
    - 즉, 데이터 중복을 허용하지 않고, NULL도 허용하지 않는다.
    - 각 행을 식별하는 데 주로 활용한다.
    - 테이블에 이미 `PRIMARY KEY` 제약 조건이 지정되어있다면 다른 열에 추가할 수 없다.
    - 특정 열을 `PRYMARY KEY`로 지정하면 해당 열에는 자동으로 `인덱스`가 만들어진다.
    - ex) 주민등록번호, 사원 번호
    
#### (1-1) 테이블을 생성할 때 특정 열에 PRIMARY KEY 설정하기
- `CREATE`문으로 테이블을 생성하면서 지정할 수 있다.

In [ ]:
--- 14-29

CREATE TABLE TABLE_PK(
    LOGIN_ID    VARCHAR2(20) PRIMARY KEY,
    LOGIN_PWD   VARCHAR2(20) NOT NULL,
    TEL         VARCHAR2(20)
);

DESC TABLE_PK;

결과 :
![4-1-1](https://user-images.githubusercontent.com/53929665/94995181-958bb280-05d7-11eb-929c-03d5261f96e9.JPG)

#### (1-2) 생성한 PRIMARY KEY 확인하기

In [ ]:
--- 14-30

SELECT OWNER, CONSTRAINT_NAME, CONSTRAINT_TYPE, TABLE_NAME
    FROM USER_CONSTRAINTS
    WHERE TABLE_NAME LIKE 'TABLE_PK%';

결과 :

![4-1-2](https://user-images.githubusercontent.com/53929665/94995182-96bcdf80-05d7-11eb-854d-b7d11ecaea35.JPG)

#### (1-3) 생성한 PRIMARY KEY를 통해 자동 생성된 INDEX확인하기

In [ ]:
--- 14-31

SELECT INDEX_NAME, TABLE_OWNER, TABLE_NAME
    FROM USER_INDEXES
    WHERE TABLE_NAME LIKE 'TABLE_PK%';

결과 :

![4-1-3](https://user-images.githubusercontent.com/53929665/94995183-96bcdf80-05d7-11eb-992b-28a720e18568.JPG)

#### (2) 테이블을 생성하며 제약 조건 이름 직접 지정하기
- 다른 제약 조건과 마찬가지로 `PRIMARY KEY`역시 제약 조건의 이름을 `CONSTRAINT`로 직접 지정할 수 있다.
- 또한, 제약 조건 이름을 직접 지정하면 자동으로 생성한 인덱스 이름도 똑같이 적용된다.

In [ ]:
--- 14-32

CREATE TABLE TABLE_PK2(
    LOGIN_ID    VARCHAR2(20) CONSTRAINT TBLPK2_LGNID_PK PRIMARY KEY,
    LOGIN_PWD   VARCHAR2(20) CONSTRAINT TBLPK2_LGNPW_NN NOT NULL,
    TEL         VARCHAR2(20)
);

DESC TABLE_PK2;

결과 :

![4-2](https://user-images.githubusercontent.com/53929665/94995185-97ee0c80-05d7-11eb-9863-e560c1da235d.JPG)
- 직접 지정한 제약 조건 이름과 동일하게 자동으로 생성된 인덱스 이름
![4-2(2)](https://user-images.githubusercontent.com/53929665/94995184-97557600-05d7-11eb-90fd-aa260fa0d280.JPG)

#### (3) PRIMARY KEY 제약 조건을 지정한 열 확인(중복 값을 입력했을 때)
- `PRIMARY KEY` 제약 조건을 지정한 열에는 중복 값과 NULL이 허용되지 않는다.

In [ ]:
--- 14-33 TABLE_PK 테이블에 데이터 입력하기

INSERT INTO TABLE_PK(LOGIN_ID, LOGIN_PWD, TEL)
    VALUES('TEST_ID_01', 'PWD01', '010-1234-5678');
    
SELECT * FROM TABLE_PK;

In [ ]:
--- 14-34 TABLE_PK 테이블에 중복되는 데이터 입력하기

INSERT INTO TABLE_PK(LOGIN_ID, LOGIN_PWD, TEL)
    VALUES('TEST_ID_01', 'PWD01', '010-2345-6789');

결과 : 중복 삽입으로 인한 오류 발생

![4-3](https://user-images.githubusercontent.com/53929665/94995186-97ee0c80-05d7-11eb-9e20-47cfd234adb7.JPG)

#### (4) PRIMARY KEY 제약 조건을 지정한 열 확인(NULL 값을 입력했을 때)

In [ ]:
--- 14-35 NULL 값을 명시적으로 입력하기

INSERT INTO TABLE_PK(LOGIN_ID, LOGIN_PWD, TEL)
    VALUES(NULL, 'PWD02', '010-2345-6789');

In [ ]:
--- 14-36 NULL 값을 암묵적으로 입력하기

INSERT INTO TABLE_PK(LOGIN_PWD, TEL)
    VALUES('PWD02', '010-2345-6789');

결과 : NULL값 삽입으로 인한 동일 오류 발생

![4-4](https://user-images.githubusercontent.com/53929665/94995187-9886a300-05d7-11eb-9ed6-ea96ca20fb4a.JPG)

> 마지막으로, `PRIAMRY KEY`또한 다른 제약 조건과 동일하게 
> `ALTER`문의 `MODIFY`, `RENAME`, `DROP`을 통해 추가/수정/이름변경/삭제 등의 수행이 가능하다.  
>   
> 하지만, `PRIMARY KEY` 제약 조건은 테이블 데이터를 식별하는 유일한 값을 의미하기에  
> 일반적으로 테이블의 생성 시점에 확정시키는 경우가 많다.  
> 즉, `ALTER`문을 사용하는 경우가 드물다는 의미이다.  
>  
> 또한, `PRIMARY KEY`제약 조건을 지정하려는 열에 중복 값이나 NULL이 있을 경우에도 동작하지 않는다.

---
### [ 5. 다른 테이블과 관계를 맺는 FOREIGN KEY ]
- `FOREIGN KEY` :
    - 서로 다른 테이블 간 관계를 정의하는 데 사용하는 제약 조건
    - 특정 테이블에서 해당 제약 조건을 지정한 열은  
    다른 테이블의 특정 열에서 참조하겠다는 의미로 지정할 수 있다.
    - 참조 대상 테이블 -> 부모  
    참조하는 테이블 -> 자식
    - ex) EMP테이블의 DEPTNO열이 DEPT테이블의 DPETNO열을 참조

In [ ]:
--- 14-37  EMP 테이블과 DEPT 테이블의 제약 조건 살펴보기
SELECT OWNER, CONSTRAINT_NAME, CONSTRAINT_TYPE, TABLE_NAME,R_OWNER,R_CONSTRAINT_NAME
    FROM USER_CONSTRAINTS
    WHERE TABLE_NAME IN('EMP', 'DEPT');

결과 :
- CONSTRAINT_TYPE열 값이 `R`일 경우 외래키를 의미한다.
- R_CONSTRAINT_NAME의 `PK_DEPT`는 DEPT 테이블의 PRIMARY KEY,  
즉 DEPT테이블의 DEPTNO열을 참조하는 의미이다.

![5(1)](https://user-images.githubusercontent.com/53929665/94997539-d63ef800-05e6-11eb-94e8-10c45a820469.JPG)

- 이렇게 참조 관계를 정의하면 EMP 테이블의 DEPTNO 열에는  
DEPTNO열에 존재하는 값과 NULL만 저장할 수 있다.
- 따라서 다음과 같이 EMP테이블에 DEPTNO 열 값을 50으로 지정하고  INSERT문을 사용하면 오류가 발생한다.

In [ ]:
--- 14-38 FOREIGN KEY가 참조하는 열에 존재하지 않는 데이터 입력하기

INSERT INTO EMP(EMPNO, ENAME, JOB, MGR, HIREDATE, SAL, COMM, DEPTNO)
VALUES(9999, '홍길동', 'CLERK', '7788', TO_DATE('2020/10/04', 'YYYY/MM/DD'), 1200, NULL, 50);

결과 :
- 오류메시지에 언급한 `부모 키가 없습니다`라는 말은  
DEPT테이블의 DEPTNO열에 50이 존재하지 않는다는 뜻이다.
![5(2)](https://user-images.githubusercontent.com/53929665/94997540-d6d78e80-05e6-11eb-9935-97f1b50085d0.JPG)

#### (1) FOREIGN KEY 지정하기
- 기본형식

```SQL
CREATE TABLE 테이블 이름(
    ...(다른 열 정의),
    열 자료형 CONSTRAINT [제약 조건 이름] REFERENCES 참조 테이블(참조할 열)
);
```

- 제약 조건 이름을 지정하지 않을 경우

```SQL
CREATE TABLE 테이블 이름(
    ...(다른 열 정의),
    열 자료형 CONSTRAINT [제약 조건 이름] REFERENCES 참조 테이블(참조할 열)
);
```

- 열을 모두 정의한 후 제약 조건을 지정할 경우

```SQL
CREATE TABLE 테이블 이름(
    ...(다른 열 정의),
    CONSTRAINT [제약 조건 이름] FOREIGN KEY(열)
    REFERENCES 참조 테이블(참조할 열)
);
```

#### (1-1) `FOREIGN KEY` 사용하기

In [ ]:
--- 14-39 DEPT_FK 테이블 생성하기

CREATE TABLE DEPT_FK (
DEPTNO NUMBER(2) CONSTRAINT DEPTFK_DEPTNO_PK PRIMARY KEY,
DNAME  VARCHAR2(14),
LOC    VARCHAR2(13)
);

In [ ]:
--- 14-40 EMP_FK 테이블 생성하기

CREATE TABLE EMP_FK(
    EMPNO     NUMBER(4) CONSTRAINT EMPFK_EMPNO_PK PRIMARY KEY,
    ENAME     VARCHAR2(10),
    JOB       VARCHAR2(9),
    MGR       NUMBER(4),
    HIREDATE  DATE,
    SAL       NUMBER(7, 2),
    COMM      NUMBER(7, 2),
    DEPTNO    NUMBER(2) CONSTRAINT EMPFK_EDEPTNO_FK REFERENCES DEPT_FK(DEPTNO)
);

DESC EMP_FK;

결과 : EMP_FK 테이블의 DEPTNO열은 이제 DEPT_FK테이블의 DEPTNO 열을 참조하는 FOREIGN KEY제약 조건이 지정되었다.

#### (1-2) `FOREIGN KEY`지정할 때 유의점
> 위에서 테이블을 만들고 나서 DEPT_FK 테이블에는 데이터가 아직 없는 상태이다.  
> 이로 인해 EMP_FK테이블에 데이터를 추가할 때 부서 번호(DEPTNO)를 지정하면 오류가 나서 실행되지 않는다.  
>  
> 따라서,  ☑ 참조하는 열에 존재하지 않는 값을 사용하는 것은 불가능하다.

In [ ]:
--- 14-41 EMP_FK 테이블에 데이터 삽입하기 (DEPTNO 데이터가 아직 DEPT_FK 테이블에 없을 때)

INSERT INTO EMP_FK
VALUES(9999, 'TEST_NAME', 'TEST_JOB', NULL, TO_DATE('2001/01/01', 'YYYY/MM/DD'), 3000, NULL, 10);

결과 : 오류 발생
![5-1-2(1)](https://user-images.githubusercontent.com/53929665/94997541-d7702500-05e6-11eb-837e-7b4612c317af.JPG)

- 하지만, DEPT_FK 테이블에 데이터를 삽입하고 재실행하면 정상적으로 실행된다.

In [ ]:
--- 14-42 DEPT_FK에 데이터 삽입하기

INSERT INTO DEPT_FK
VALUES(10, 'TEST_DNAME', 'TEST_LOC');

In [ ]:
--- 14-43 EMP_FK 테이블에 데이터 삽입하기

INSERT INTO EMP_FK
VALUES(9999, 'TEST_NAME', 'TEST_JOB', NULL, TO_DATE('2001/01/01', 'YYYY/MM/DD'), 3000, NULL, 10);

SELECT * FROM EMP_FK

결과 : 정상적으로 실행됨
![5-1-2(2)](https://user-images.githubusercontent.com/53929665/94997542-d7702500-05e6-11eb-802c-1c04b19d28e2.JPG)

#### (2) FOREIGN KEY 참조 행 데이터 삭제하기
- 현재 DEPT_FK 테이블에는 10번 부서 데이터가 저장되어있고  
EMP_FK테이블에는 이 10번 부서를 참조하는 데이터가 있다.
- 이 경우에 DEPT_FK테이블의 DEPTNO 열에 저장된 10번 부서 데이터는 삭제할 수 없다.

In [ ]:
--- 14-44 DEPT_FK 테이블의 10번 부서 데이터를 삭제하려고 시도할 경우

DELETE FROM DEPT_FK
WHERE DEPTNO = 10;

결과 : 삭제하려는 DEPTNO값을 참조하는 데이터가 존재하기 때문에 오류 발생

- DEPT_FK 테이블의 데이터를 삭제하려면 다음 방법 중 한 가지를 사용해야 한다.
> 1. 현재 삭제하려는 열 값을 참조하는 데이터를 먼저 삭제한다.  
> ex) EMP_FK 테이블의 DEPTNO가 10번인 데이터를 삭제한 후 DEPT_FK테이블의 10번 부서 삭제  
>   
>   
> 2. 현재 삭제하려는 열 값을 참조하는 데이터를 수정한다.  
> ex) EMP_FK 테이블의 DEPTNO가 10번인 데이터를 다른 부서 번호 또는 NULL로 변경한 후 DEPT_FK테이블의 10번 부서 삭제
>  
>  
> 3. 현재 삭제하려는 열을 참조하는 자식 테이블의 FOREIGN KEY 제약 조건을 해제한다.
- 하지만, 위 방법은 귀찮은 작업이며, 까다로운 작업이다.  
따라서, 제약 조건을 처음 지정할 때 다음과 같이 추가 옵션을 지정하는 방법도 사용한다.  
이 방법은 데이터 삭제와 더불어 삭제할 데이터를 참조하는 처리를 어떻게 할지 정할 수 있다.

#### (2-1) 열 데이터를 삭제할 때 이 데이터를 참조하고 있는 데이터도 함께 삭제
- 기본형식 : 기존 형식에서 `ON DELETE CASCADE` 옵션 추가
```SQL
CONSTRAINT [제약 조건 이름] REFERENCES 참조 테이블(참조할 열) ON DELETE CASCADE
```


예시)  
(STEP1) 부모 테이블인 DEPT_FK 테이블의 10번 부서를 삭제하게되면,  
(STEP2) 자식 테이블인 EMP_FK 테이블에서 10번 부서에 속한 사원 데이터가 함께 삭제된다.

#### (2-2) 열 데이터를 삭제할 때 이 데이터를 참조하는 데이터를 NULL로 수정

- 기본형식 : 기존 형식에서 `ON DELETE SET NULL` 옵션 추가
```SQL
CONSTRAINT [제약 조건 이름] REFERENCES 참조 테이블(참조할 열) ON DELETE SET NULL
```


예시)  
(STEP1) 부모 테이블인 DEPT_FK테이블의 10번 부서를 삭제하게되면,  
(STEP2) 자식 테이블인 EMP_FK테이블에서 10번 부서에 속한 사원의 DEPTNO 열 값을 NULL로 변경

---
### [ 6. 데이터 형태와 범위를 정하는 CHECK ]
- `CHECK`제약조건 :
    - 열에 저장할 수 있는 값의 범위 또는 패턴을 정의할 때 사용한다.
    - ex) 시간을 저장할 열 데이터는 0에서 23까지의 숫자만 허용
    
#### (1) 테이블을 생성할 때 `CHECK` 제약 조건 설정하기

In [ ]:
--- 14-45
CREATE TABLE TABLE_CHECK(
    LOGIN_ID  VARCHAR2(20) CONSTRAINT TBLCK_LOGINID_PK PRIMARY KEY,
    LOGIN_PWD VARCHAR2(20) CONSTRAINT TBLCK_LOGNPW_CK CHECK (LENGTH(LOGIN_PWD)>3),
    TEL       VARCHAR2(20)
);

- `CHECK`키워드 다음의 `LENGTH(LOGIN_PWD)>3`은  
LOGIN_PWD 열 길이가 3 초과인 데이터만 저장 가능하다는 뜻이다.  
즉, 비밀번호는 3글자 초과 이상만 저장할 수 있도록 제한을 둔 것이다.


- 따라서, 다음의 INSERT문은 제약 조건에 맞지 않기 때문에 실행되지 않는다.

In [ ]:
--- 14-46

INSERT INTO TABLE_CHECK
VALUES('TEST_ID', '123', '010-1234-5678');

결과 :
![6-1(1)](https://user-images.githubusercontent.com/53929665/94997528-bd364700-05e6-11eb-9033-dca0995d65e9.JPG)

- 하지만, 4자리로 설정하면 실행된다.

In [ ]:
--- 14-47

INSERT INTO TABLE_CHECK
VALUES('TEST_ID', '1234', '010-1234-5678');

SELECT * FROM TABLE_CHECK;

결과 : 

![6-1(2)](https://user-images.githubusercontent.com/53929665/94997529-be677400-05e6-11eb-80e1-7642efc494cd.JPG)

- `CHECK`제약 조건은 모두 `C`로 다음과 같이 출력된다.

In [ ]:
--- 14-48

SELECT OWNER, CONSTRAINT_NAME, CONSTRAINT_TYPE, TABLE_NAME
    FROM USER_CONSTRAINTS
    WHERE TABLE_NAME LIKE 'TABLE_CHECK';

결과 :

![6-1(3)](https://user-images.githubusercontent.com/53929665/94997530-be677400-05e6-11eb-93b8-15e5016e5787.JPG)

---
### [ 7. 기본값을 정하는 DEFAULT ]
- `DEFAULT`제약조건 :
    - 제약 조건과는 별개로 특정 열에 저장할 값이 지정되지 않았을 경우 사용

#### (1) 테이블을 생성할 때 DEFAULT 제약 조건 설정하기

In [ ]:
--- 14-49

CREATE TABLE TABLE_DEFAULT(
    LOGIN_ID  VARCHAR2(20) CONSTRAINT TBLCK2_LOGINID_PK PRIMARY KEY,
    LOGIN_PWD VARCHAR2(20) DEFAULT '1234',
    TEL       VARCHAR2(20)
);

DESC TABLE_DEFAULT;

결과 :
![7-1](https://user-images.githubusercontent.com/53929665/94997920-4babc800-05e9-11eb-8713-b21e4514209d.JPG)

#### (2) DEFAULT로 지정한 기본값이 입력되는 INSERT문 확인하기

In [ ]:
--- 14-50

INSERT INTO TABLE_DEFAULT 
    VALUES('TEST_ID', NULL, '010-1234-5678');

INSERT INTO TABLE_DEFAULT(LOGIN_ID, TEL)
    VALUES('TEST_ID2', '010-1234-5678');
    
SELECT * FROM TABLE_DEFAULT;

결과 :
- 명시적으로 NULL을 지정한 첫 번째 INSERT문을 실행했을 때는 LOGIN_PWD열이 비어있다.
- LOGIN_PWD 열 값을 지정하지 않은 두 번째 INSERT문을 실행했을 때는 기본값인 1234가 들어가 있다.

![7-2](https://user-images.githubusercontent.com/53929665/94997922-4cdcf500-05e9-11eb-8ed3-5a4aec89bee2.JPG)

---
### [ 8. 제약 조건 비활성화, 활성화 ]
> 제약 조건은 데이터 무결성을 보장하는 중요한 역할을 하지만,  
> 신규 기능 개발 또는 테스트 같은 업무를 수행해야 할 때  
> 제약 조건이 걸림돌이 되는 경우가 종종 있다.  
> 이때 여러 필요에 의해 제약 조건을 비활성화하거나 비활성화시킨 제약 조건을 다시 활성화할 수 있다.

- 참조 : docs.oracle.com/cd/E11882_01/server.112/e41084/clauses002.htm#SQLRF52180

#### (1) DISABLE : 비활성화
```SQL
ALTER TABLE 테이블 이름
DISABLE [NONVALIDATE/VALIDATE(선택)] CONSTRAINT 제약조건이름;
```

#### (2) ENABLE : 활성화
```SQL
ALTER TABLE 테이블 이름
ENABLE [NONVALIDATE/VALIDATE(선택)] CONSTRAINT 제약조건이름;
```