## SQL_JOIN

---
### [ 1. JOIN ]

#### (1) UNION 집합 연산자와 JOIN의 차이점
- 집합연산자 : 집합연산자를 사용한 결과는 두 개 이상 SELECT문의 결과 값을 '세로'로 연결한 것
- JOIN : 조인을 사용한 결과는 두 개 이상의 테이블 데이터를 '가로'로 연결한 것

#### (2) 여러 테이블을 사용할 때의 FROM절
- SELECT절의 여러 열을 구분할 때와 마찬가지로 FROM절에 여러 테이블을 명시할 때 쉼표(,)를 구문자로 사용하여 지정한다.
```
SELECT
    FROM 테이블1, 테이블2, ..., 테이블N
```

#### (2-1) `FROM`절에 여러 테이블 선언하기
- (참고) SCOTT 계정 소유의 EMP 테이블에는 사원 정보가 저장되어 있고, DEPT 테이블에는 부서 정보가 저장되어 있다.

In [ ]:
--- 8-1
SELECT *
    FROM EMP, DEPT
    ORDER BY EMPNO;

결과 :
- 위와 같이 EMP 테이블과 DEPT 테이블을 FROM절에 함께 명시하면,  
FROM 절에 명시한 각 테이블을 구성하는 행이 ☑(모든 경우의 수로 조합)되어 출력되기에  
생각보다 많은 양의 데이터가 출력된다.

- 다음 결과에서 볼 수 있듯이, EMP 테이블의 14개 행 하나하나에 DEPT 테이블에 저장된 4개 행이 가로로 조합되어 출력된다. (TOTAL 행 수 = 14 * 4 = 56개)

![1-2-1](https://user-images.githubusercontent.com/53929665/93772483-d5f34400-fc59-11ea-904a-170f01163720.JPG)

#### (3) JOIN 조건이 없을 때의 문제점
- 위와 같이 조인을 통한 출력은 결과로 나올 수 있는 모든 행을 조합하기 떄문에 사원데이터와 부서 데이터가 정확히 맞아떨어지지 않는 데이터도 함께 출력된다.  
    - 위의 예시에서는 DEPTNO 20인 SMITH에 DEPT테이블의 DEPTNO 40, 30, 10의 관련없는 데이터가 같이 관계지어 출력됨  
    (DEPT 테이블에서 DEPTNO뒤에 _1이 붙는건 중복을 피하기 위함)


☑ 따라서, 
>어떤 가로로 정확히 연결해야 하는지의 기준은 데이터베이스가 아닌 SQL문을 작성하는 프로그래머가 정해 주어야한다.

- 위의 예시에서는  
서로 다른 테이블인 EMP 테이블과 DEPT 테이블에 같은 이름의 DEPTNO열을 구별하는 방법이 필요하다.

☑ 이때, 사용하는 방식은 열 앞에 테이블 이름을 명시하여 구분하는 방법이다.  


>테이블 이름.열 이름

☑ JOIN할때, 열이름 표기시 테이블이름을 적는 습관을 들이자
#### (3-1) 열 이름을 비교하는 조건식으로 조인하기

In [ ]:
--- 8-2
SELECT *
    FROM EMP, DEPT
    WHERE EMP.DEPTNO = DEPT.DEPTNO
    ORDER BY ENAME;

결과 :

- 결과는 두 테이블의 DEPTNO 열 값이 같은 14개 행만 출력된다.
- 그리고, 각 행별 부서 정보도 정확하게 연결되었음을 확인할 수 있다.
- `WHERE`절!!!!!!!!!!!

![1-3-1](https://user-images.githubusercontent.com/53929665/93772494-d7247100-fc59-11ea-9d8e-d92ac4c89e83.JPG)

#### (4) 테이블의 별칭 설정
- `FROM`절에 지정한 테이블에는 SELECT절의 열에 사용한 것 처럼 별칭을 지정할 수 있다.


- 기본형식 : 명시한 테이블 이름에 ☑(한 칸 띄운 후)에 지정

```
FROM 테이블 이름1 별칭1, 테이블 이름2 별칭2, ...
```

#### (4-1) 테이블 이름을 별칭으로 표현하기

In [ ]:
--- 8-3
SELECT *
    FROM EMP E, DEPT D
    WHERE E.DEPTNO = D.DEPTNO
    ORDER BY ENAME;

결과 : (1-3-1)예제와 동일

- 별칭으로 표현하면 열의 명시방법을 사용할 때 별칭을 사용할 수 있다.

---
### [ 2. JOIN 종류 ]

#### (1) 등가 조인
- 테이블을 연결한 후에 출력 행을 각 테이블의 특정 열에 일치한 데이터를 기준으로 선정하는 방식 (위에서 본 예제와 동일한 방법)


- '내부 조인(inner join)' 또는 '단순 조인(simple join)'으로 부르기도함 


#### (1-2) 여러 테이블의 열 이름이 같을 때 유의점
- 등가 조인을 사용할 때 조인 조건이 되는 각 테이블의 열 이름이 같을 경우에 해당 열 이름을 테이블 구분 없이 명시하면 다음과 같은 오류가 발생한다.

In [ ]:
--- 8-4
SELECT EMPNO, ENAME, DEPTNO, DNAME, LOC
    FROM EMP E, DEPT D
    WHERE E.DEPTNO = D.DEPTNO;

결과 : 두 테이블 모두 가지고 있는 열 이름인 DEPTNO를 SELECT에 명시해서 발생한 오류

![2-1-2(1)](https://user-images.githubusercontent.com/53929665/93792788-efec5100-fc70-11ea-8f1e-8b638194f164.JPG)

- 따라서, DEPTNO 열은 두 테이블에 모두 존재하는 열이므로 어느 테이블에 속해 있는 열인지 반드시 명시해야한다.

In [ ]:
SELECT EMPNO, ENAME, D.DEPTNO, DNAME, LOC
    FROM EMP E, DEPT D
    WHERE E.DEPTNO = D.DEPTNO;

결과 :

![2-1-2(2)](https://user-images.githubusercontent.com/53929665/93792790-f084e780-fc70-11ea-8b4c-0c4c4ee9c3f3.JPG)

#### (1-3) `WHERE`절에 조건식 추가하여 출력 범위 설정하기
- `WHERE`절에 추가로 조건식 넣어 출력하기

In [ ]:
--- 8-6
SELECT EMPNO, ENAME, SAL, D.DEPTNO, DNAME, LOC
    FROM EMP E, DEPT D
    WHERE E.DEPTNO = D.DEPTNO
        AND SAL >= 3000;

결과 :

![2-1-3](https://user-images.githubusercontent.com/53929665/93792639-c16e7600-fc70-11ea-9cfa-920a289c8391.JPG)

#### (1-4) JOIN 테이블 개수와 조건식 개수의 관계
> For 데카르트 곱 방지 조건식의 갯수 = 조인 테이블 수 - 1

ex1) A,B 테이블을 조인할 경우 최소 하나의 조건식이 필요하다.  


ex2) A,B,C 테이블을 조인할 경우 A와 B를 묶는 조건식 하나, A와 B가 연결된 상태에서 C를 연결해 줄 조건식(or 열) 하나가 추가로 필요하므로, 최소 두개의 조건식이 필요하다.

#### (2) 비등가 조인 (non-equi join)
- 등가 조인 방식 외의 방식

#### (2-1) '범위'를 지정하는 조건식으로 조인하기
- 급여 범위를 지정하는 조건식으로 조인하기
- (참고) SALGRADE테이블은 급여 등급 데이터를 가지고 있다.

In [ ]:
--- 8-7
SELECT E.ENAME, E.JOB, E.SAL, S.GRADE, S.LOSAL, S.HISAL
    FROM EMP E, SALGRADE S
    WHERE E.SAL BETWEEN S.LOSAL AND S.HISAL;

결과 :

![2-2-1](https://user-images.githubusercontent.com/53929665/93792640-c2070c80-fc70-11ea-862e-85a9eeea6060.JPG)

#### (3) 자체 조인
- 하나의 테이블을 여러 개의 테이블처럼 활용하여 조인하는 방식
- `FROM`절에 같은 테이블을 여러 번 명시하되 테이블의 별칭만 다르게 지정하면 된다.

#### (3-1) 같은 테이블을 두 번 사용하여 자체 조인하기

In [ ]:
--- 8-8
SELECT  E1.EMPNO, E1.ENAME, E1.MGR,
        E2.EMPNO AS MGR_EMPNO,
        E2.ENAME AS MGR_ENAME
        FROM EMP E1, EMP E2
        WHERE E1.MGR = E2.EMPNO;

결과 :
- KING의 MGR은 존재하지 않기 때문에 데이터에는 표시되지않아 총 14개중 13개가 출력되었다.

![2-3-1](https://user-images.githubusercontent.com/53929665/93792645-c2070c80-fc70-11ea-958a-66a87d386393.JPG)

#### (4) 외부 조인
- 앞서 자체조인에서 KING의 MGR은 NULL값이기 때문에 출력되지 않았다.  
하지만, 특정 경우에서는 NULL임에도 결과를 출력할 때 포함시켜야하는 경우가 있다.  
이런경우 외부조인이 쓰인다.


- 정의 : 두 테이블간 조인 수행에서 조인 기준 열의 어느 한쪽이 `NULL`이어도 강제로 출력하는 방식
    - 따라서, 외부조인은 기준 열의 `NULL`을 처리하는 것을 목적으로 사용된다.


- 외부 조인은 좌우를 따로 나누어 지정한다.  
`WHERE`절에 조인 기준 열 중 한쪽에`(+)` 기호를 붙인다.


    - 왼쪽 외부 조인(Left Outer Join) : WHERE TABLE1.COL1 = TALBE2.COL(+)
    
    - 오른쪽 외부 조인(Right Outer Join) : WHERE TABLE1.COL1(+) = TABLE2.COL1

#### (4-1) 왼쪽 외부 조인
- 왼쪽 열을 기준으로 오른쪽 열의 데이터 존재 여부에 상관없이 출력

In [ ]:
--- 8-9
SELECT  E1.EMPNO, E1.ENAME, E1.MGR,
        E2.EMPNO AS MGR_EMPNO,
        E2.ENAME AS MGR_ENAME
        FROM EMP E1, EMP E2
        WHERE E1.MGR = E2.EMPNO(+)
        ORDER BY E1.EMPNO;

결과 :
- NULL 값도 같이 출력된 것을 확인 가능
![2-4-1](https://user-images.githubusercontent.com/53929665/93792870-0d211f80-fc71-11ea-80f3-120c28a7a676.JPG)

#### (4-2) 오른쪽 외부 조인
- 오른쪽 열을 기준으로 왼쪽 열 데이터의 존재와 상관없이 데이터를 출력

In [ ]:
--- 8-10
SELECT  E1.EMPNO, E1.ENAME, E1.MGR,
        E2.EMPNO AS MGR_EMPNO,
        E2.ENAME AS MGR_ENAME
        FROM EMP E1, EMP E2
        WHERE E1.MGR(+) = E2.EMPNO
        ORDER BY E1.EMPNO;

결과 :
- 아래쪽 데이터는 왼쪽 테이블 데이터가 모두 `NULL`임을 확인할 수 있다.  
즉, TURNER ~ MARTIN에 이르는 사원들은 부하 직원이 없는 가장 직책이 낮은 사원들이다.
![2-4-2](https://user-images.githubusercontent.com/53929665/93792647-c29fa300-fc70-11ea-852d-a6a1f0c42d8f.JPG)

---
### [ 3. SQL-99 표준문법으로 배우는 조인 ]
- 다른 DBMS 제품에서도 사용할 수 있다.

#### (1) NATURAL JOIN
- '등가 조인'을 대신해 사용할 수 있는 조인 방식
- 조인 대상이 되는 두 테이블에 이름과 자료형이 같은 열을 찾은 후 그 열을 기준으로 등가 조인을 해주는 방식

#### (1-1) `NATURAL JOIN` 사용하기

In [ ]:
--- 8-11
SELECT  E.EMPNO, E.ENAME, E.JOB, E.MGR, E.HIREDATE, E.SAL, E.COMM,
        DEPTNO, D.DNAME, D.LOC
    FROM EMP E NATURAL JOIN DEPT D
    ORDER BY DEPTNO, E.EMPNO;

결과 :
- EMP 테이블과 DEPT 테이블은 공통 열 DEPTNO를 가지고 있으므로 `NATURAL JOIN`을 사용할 때 자동으로 DEPTNO 열을 기준으로 등가 조인된다.


- (중요) 기존 등가 조인과 다르게 조인 기준 열인 DEPTNO를 SELECT절에 명시할 때  
☑(테이블 이름을 붙이면 안 되는 특성)이 있으므로 주의해야한다.

![3-1-1](https://user-images.githubusercontent.com/53929665/93880524-97708e80-fd18-11ea-83c7-33299713c06b.JPG)

#### (2) JOIN ~ USING

- 기존 등가 조인을 대신하는 조인 방식이다.


- `NATURAL JOIN`이 자동으로 조인 기준 열을 지정하는 것과 달리  
☑(`USING`키워드에 조인 기준으로 사용할 열을 명시하여 사용한다.)


- `NATURAL JOIN`과 마찬가지로 `SELECT`절에서 조인 기준 열로 명시된 열은 테이블이름을 붙이지 않고 작성한다.



- 기본형식
```
FROM TABLE1 JOIN TABLE2 USING (조인에 사용한 기준열)
```

#### (2-1) `JOIN~USING`을 사용하여 조인하기

In [ ]:
--- 8-12
SELECT  E.EMPNO, E.ENAME, E.JOB, E.MGR, E.HIREDATE, E.SAL, E.COMM,
        DEPTNO, D.DNAME, D.LOC
    FROM EMP E JOIN DEPT D USING (DEPTNO)
    WHERE SAL >= 3000
    ORDER BY DEPTNO, E.EMPNO;

결과 :
- 다른 조인 방식과 마찬가지로 조인된 결과 행을 추가로 제한할 때 `WHERE`절에 조건식을 추가하여 함께 사요할 수 있다.

![3-2-1](https://user-images.githubusercontent.com/53929665/93880525-98a1bb80-fd18-11ea-80f5-5f75c9368188.JPG)

#### (3) JOIN ~ ON
- ☑ 가장 범용성 있다
- ☑ 기존 `WHERE`절에 있는 조인 조건식을 `ON`키워드 옆에 작성한다.
- 기준 조건식을 `ON`에 명시하고,  
그 밖의 출력 행을 걸러 내기 위해 `WHERE` 조건식을 따로 사용


- 기본형식
```
FROM TABLE1 JOIN TABLE2 ON (조인 조건식)
```

#### (3-1) `JOIN~ON`으로 등가 조인하기

In [ ]:
--- 8-13
SELECT  E.EMPNO, E.ENAME, E.JOB, E.MGR, E.HIREDATE, E.SAL, E.COMM,
        E.DEPTNO,
        D.DNAME, D.LOC
    FROM EMP E JOIN DEPT D ON (E.DEPTNO = D.DEPTNO)
    WHERE SAL <= 3000
    ORDER BY E.DEPTNO, E.EMPNO;

결과 :

![3-3-1](https://user-images.githubusercontent.com/53929665/93880527-98a1bb80-fd18-11ea-8e8c-b5e4dbf2da41.JPG)

#### (4) OUTER JOIN
- 이 키워드는 ☑(외부 조인)에 사용한다.
- ☑ `WHERE`절이 아닌 `FROM`절에서 외부조인을 선언한다.
    - 따라서, 기존 조인 방식보다 더 간략하고 명시적으로 어떤 방식의 조인을 사용했는지 알 수 있다.
    - 또한, 조인 조건식과 출력 행을 선정하는 조건식을 구별할 수 있으므로 여러 테이블을 조인해야 하는 복잡한 SELECT문에서는 특히나 강력하다.
    - 물론 특정 문장을 반드시 사용해야 하는 업무 규칙이 정해져 있다면 어쩔수 없지만, 그런 규칙이 없다면 자신에게 편한 방식을 사용하면 된다.


- ☑ 기존방식과 SQL-99방식의 외부 조인 차이


    - 왼쪽 외부 조인(LEFT OUTER JOIN)
        - 기존 : WHERE TABLE1.COL1 = WHERE TABLE2.COL1(+)
        - SQL-99 : FROM TABLE1 LEFT OUTER JOIN TALBE2 ON(조인조건식)
    
    
    - 오른쪽 외부 조인(RIGHT OUTER JOIN)
        - 기존 : WHERE TABLE1.COL1(+) = WHERE TABLE2.COL1
        - SQL-99 : FROM TABLE1 RIGHT OUTER JOIN TALBE2 ON(조인조건식)
       
    
    - 전체 외부 조인(FULL OUTER JOIN)
        - 기존 : 기본 문법은 없음 (UNION 집합 연산자를 활용)
        - SQL-99 : FROM TALBE FULL OUTER JOIN TABLE2 ON(조인조건식)

#### (4-1) `왼쪽 외부 조인`을 SQL-99로 작성하기
- FROM절에서 왼쪽에 있는 TABLE 이 기준으로 선정!

In [ ]:
--- 8-14
SELECT  E1.EMPNO, E1.ENAME, E1.MGR,
        E2.EMPNO AS MGR_EMPNO,
        E2.ENAME AS MGR_ENAME
    FROM EMP E1 LEFT OUTER JOIN EMP E2 ON (E1.MGR = E2.EMPNO)
    ORDER BY E1.EMPNO;

결과 :

![3-4-1](https://user-images.githubusercontent.com/53929665/93880528-993a5200-fd18-11ea-9843-4ccf4d86f5d5.JPG)

#### (4-2) `오른쪽 외부 조인`을 SQL-99로 작성하기
- FROM절에서 오른쪽에 있는 TABLE 이 기준으로 선정!

In [ ]:
--- 8-15
SELECT  E1.EMPNO, E1.ENAME, E1.MGR,
        E2.EMPNO AS MGR_EMPNO,
        E2.ENAME AS MGR_ENAME
    FROM EMP E1 RIGHT OUTER JOIN EMP E2 ON (E1.MGR = E2.EMPNO)
    ORDER BY E1.EMPNO;

결과 :

![3-4-2](https://user-images.githubusercontent.com/53929665/93880529-993a5200-fd18-11ea-8917-9e0285b6ce07.JPG)

#### (4-3) `전체 외부 조인`을 SQL-99로 작성하기
- 왼쪽 열이 `NULL`인 경우와 오른쪽 열이 `NULL`인 경우를 모두 출력하는 방식

In [ ]:
--- 8-16
SELECT  E1.EMPNO, E1.ENAME, E1.MGR,
        E2.EMPNO AS MGR_EMPNO,
        E2.ENAME AS MGR_ENAME
    FROM EMP E1 FULL OUTER JOIN EMP E2 ON (E1.MGR = E2.EMPNO)
    ORDER BY E1.EMPNO;

결과 :
- `왼쪽 외부 조인`과 `오른쪽 외부 조인`의 결과가 합쳐진것과 같은 결과 

![3-4-3](https://user-images.githubusercontent.com/53929665/93880530-99d2e880-fd18-11ea-9b2d-2eb7c26b0c04.JPG)

#### (5) SQL - 99 조인 방식에서 세 개 이상의 테이블을 조인할 때

- 기존 조인 방식에서는 다음과 같이 진행하면된다.
```
FROM TABLE1, TABLE2, TABLE3
WHERE TABLE1.COL = TABLE2.COL
    AND TABLE2.COL = TABLE3.COL
```

- 하지만, ☑ SQL-99에서는 다음과 같이 진행하면된다.
```
FROM TABLE1 JOIN TABLE2 ON (조건식)
    JOIN TABLE3 ON (조건식)
```

### [ 연습 문제 ]

#### 1번.

- SQL-99 이전 방식

In [ ]:
SELECT E.DEPTNO, D.DNAME, E.EMPNO, E.ENAME, E.SAL
    FROM EMP E, DEPT D
    WHERE E.DEPTNO = D.DEPTNO
    AND SAL > 2000;

- SQL-99 방식

In [ ]:
SELECT E.DEPTNO, D.DNAME, E.EMPNO, E.ENAME, E.SAL
    FROM EMP E JOIN DEPT D ON (D.DEPTNO = E.DEPTNO)
    WHERE SAL > 2000;

- SQL-99방식 (`NATURAL JOIN` 이용)

In [ ]:
SELECT DEPTNO, D.DNAME, E.EMPNO, E.ENAME, E.SAL
  FROM EMP E NATURAL JOIN DEPT D
 WHERE E.SAL > 2000;

#### 2번.

- SQL-99 이전 방식

In [ ]:
SELECT  D.DEPTNO, D.DNAME,
        N.AVG_SAL, N.MAX_SAL, N.MIN_SAL, N.CNT
     FROM DEPT D, (SELECT  DEPTNO,TRUNC(AVG(SAL), 0) AS AVG_SAL,
                        MAX(SAL) AS MAX_SAL,
                        MIN(SAL) AS MIN_SAL,
                        COUNT(SAL) AS CNT
                    FROM EMP
                    GROUP BY DEPTNO) N
    WHERE D.DEPTNO = N.DEPTNO
    ORDER BY DEPTNO;

- SQL-99 이전 방식 모범 답안

In [ ]:
SELECT D.DEPTNO,
       D.DNAME,
       TRUNC(AVG(SAL)) AS AVG_SAL,
       MAX(SAL) AS MAX_SAL,
       MIN(SAL) AS MIN_SAL,
       COUNT(*) AS CNT
  FROM EMP E, DEPT D
 WHERE E.DEPTNO = D.DEPTNO
GROUP BY D.DEPTNO, D.DNAME;

- SQL-99 방식

In [ ]:
SELECT  D.DEPTNO, D.DNAME,
        N.AVG_SAL, N.MAX_SAL, N.MIN_SAL, N.CNT
     FROM DEPT D JOIN (SELECT  DEPTNO,TRUNC(AVG(SAL), 0) AS AVG_SAL,
                        MAX(SAL) AS MAX_SAL,
                        MIN(SAL) AS MIN_SAL,
                        COUNT(SAL) AS CNT
                    FROM EMP
                    GROUP BY DEPTNO) N ON (D.DEPTNO = N.DEPTNO)
    ORDER BY DEPTNO;

- SQL-99 방식 모범 답안

In [ ]:
SELECT DEPTNO,
       D.DNAME,
       TRUNC(AVG(SAL)) AS AVG_SAL,
       MAX(SAL) AS MAX_SAL,
       MIN(SAL) AS MIN_SAL,
       COUNT(*) AS CNT
  FROM EMP E JOIN DEPT D USING (DEPTNO)
GROUP BY DEPTNO, D.DNAME;

#### 3번.

- SQL-99 이전 방식

In [ ]:
SELECT  D.DEPTNO,
        D.DNAME, E.ENAME, E.JOB, E.SAL
    FROM EMP E, DEPT D
    WHERE E.DEPTNO(+) = D.DEPTNO
    ORDER BY DEPTNO, E.ENAME;

- SQL-99 방식

In [ ]:
SELECT  D.DEPTNO,
        D.DNAME, E.ENAME, E.JOB, E.SAL
    FROM EMP E RIGHT OUTER JOIN DEPT D ON (E.DEPTNO = D.DEPTNO)
    ORDER BY DEPTNO, E.ENAME;

#### 4번.

- SQL-99 이전 방식

In [ ]:
SELECT  D.DEPTNO, D.DNAME, 
        E1.EMPNO, E1.MGR, E1.SAL, E1.DEPTNO,
        S.LOSAL, S.HISAL, S.GRADE,
        E2.EMPNO AS MGR_EMPNO,
        E2.ENAME AS MGR_ENAME
    FROM DEPT D, EMP E1, SALGRADE S, EMP E2
    WHERE D.DEPTNO = E1.DEPTNO(+)
        AND E1.SAL BETWEEN LOSAL(+) AND HISAL(+)
        AND E1.MGR = E2.EMPNO(+)
    ORDER BY D.DEPTNO, E1.EMPNO;

- SQL-99 방식

In [ ]:
SELECT  D.DEPTNO, D.DNAME, 
        E1.EMPNO, E1.MGR, E1.SAL, E1.DEPTNO,
        S.LOSAL, S.HISAL, S.GRADE,
        E2.EMPNO AS MGR_EMPNO,
        E2.ENAME AS MGR_ENAME
    FROM DEPT D LEFT OUTER JOIN EMP E1 ON (D.DEPTNO = E1.DEPTNO)
           LEFT OUTER JOIN SALGRADE S ON (E1.SAL BETWEEN LOSAL AND HISAL)
           LEFT OUTER JOIN EMP E2 ON (E1.MGR = E2.EMPNO)
    ORDER BY D.DEPTNO, E1.EMPNO;