## [ 데이터 정의어 ]
---
### [ 1. 객체를 생성, 변경, 삭제하는 데이터 정의어 ]
- `데이터 정의어(DDL : Data Definition Language)` :  
데이터베이스 데이터를 보관하고 관리하기 위해 제공되는  
여러 객체(object)의 생성/변경/삭제 관련 기능을 수행한다.

#### (1) 데이터 정의어를 사용할 때 유의점
- `DDL`은 `DML`과 달리 명령어를 수행하자마자 데이터베이스에 수행한 내용이 바로 반영된다.
    - 즉, DDL를 실행하면 자동으로 `COMMIT`되기 때문에  
    이전에 사용한 DML은 영구히 데이터베이스에 반영된다.
    - 따라서, `ROLLBACK`을 통한 실행 취소가 불가능하다.


- DDL의 종류
    - 객체를 생성하는 `CREATE`
    - 생성된 객체를 변경하는 `ALTER`
    - 객체를 삭제하는 `DROP`

---
### [ 2. 테이블을 생성하는 CREATE ]
- `CREATE`문 : 오라클 데이터베이스 객체를 생성하는 데 사용하는 명령어


- 기본형식
```SQL
CREATE TABLE 소유 계정, 테이블 이름(
    열1 이름 열1 자료형,
    열2 이름 열2 자료형,
    ...
    열n 이름 열n 자료형
);
```
- 위의 기본형식에서 [소유 계정]의 경우 생략이 가능하다  
계정 이름을 생략하고 `CREATE`명령어를 사용하면  
현재 접속해 있는 계정 소유의 테이블이 만들어진다.


- `테이블 이름 생성 규칙`
    - 1. 테이블의 이름은 문자로 시작해야 한다 (한글도 가능하며 숫자는 X)
    - 2. 테이블 이름은 30byte 이하여야 한다. (즉, 영어는 30자, 한글은 15자)
    - 3. 같은 사용자 소유의 테이블 이름은 중복될 수 없다.
    - 4. 테이블 이름은 영문자, 숫자, 특수문자를 사용할 수 있다.
    - 5. SQL키워드는 테이블 이름으로 사용할 수 없다.


- `열 이름 생성 규칙`
    - 1. 열 이름은 문자로 시작해야 한다.
    - 2. 열 이름은 30bye 이하여야 한다.
    - 3. 한 테이블의 열 이름은 중복될 수 없다.
    - 4. 열 이름은 영문자, 숫자, 특수 문자를 사용할 수 있다.
    - 5. SQL키워드는 열 이름으로 사용할 수 없다.
    
    
#### (1) 자료형을 각각 정의하여 새 테이블 생성하기

In [ ]:
--- 12-1
CREATE TABLE EMP_DDL(
    EMPNO       NUMBER(4),
    ENAME       VARCHAR2(10),
    JOB         VARCHAR2(10),
    MGR         NUMBER(4),
    HIREDATE    DATE,
    SAL         NUMBER(7,2),
    COM         NUMBER(7,2),
    DEPTNO      NUMBER(2)
);

DESC EMP_DDL;

결과 :
- 이때 `NUMBER(7,2)`는 소수점 이하 두 자리 숫자를 포함한 7자리 숫자를 의미한다.
![2-1](https://user-images.githubusercontent.com/53929665/94366322-6de9a580-0112-11eb-93e7-e8535a2d556b.JPG)

#### (2) 기존 테이블 열 구조와 데이터를 복사하여 새 테이블 생성하기
- 특정 테이블과 같은 열 구조로 테이블을 만들 때는 위의 방식보다  
서브쿼리를 활용하여 테이블을 생성하는 방법을 많이 사용한다.

In [ ]:
--- 12-2
CREATE TABLE DEPT_DDL
    AS SELECT * FROM DEPT;

DESC DEPT_DDL;

결과 :

![2-2](https://user-images.githubusercontent.com/53929665/94366323-6f1ad280-0112-11eb-954d-e2531787ae2e.JPG)

#### (3) 기존 테이블 열 구조와 일부 데이터만 복사하여 새 테이블 생성하기
- 특정 테이블과 열 구조는 같되  
테이블 전체 데이터가 아닌 일부 데이터만 복사하여 테이블을 만들어야 한다면  
서브쿼리에 `WHERE`절을 사용하여 생성 테이블에 저장될 데이터를  
조건식으로 지정할 수 있다.

In [ ]:
--- 12-4
CREATE TABLE EMP_DDL_30
    AS SELECT * FROM EMP WHERE DEPTNO = 30;
    
SELECT * FROM EMP_DDL_30;

결과 :

![2-3](https://user-images.githubusercontent.com/53929665/94366324-6f1ad280-0112-11eb-9099-c7bf14860ca1.JPG)

#### (4) 기존 테이블의 열 구조만 복사하여 새 테이블 생성하기
- 특정 테이블과 열 구성이 같되 저장 데이터가 없는 빈 테이블을 생성하려면  
`WHERE`절 조건식의 결과 값이 언제나 `FALSE`가 나오는 방법을 사용한다.

In [ ]:
--- 12-5
CREATE TABLE EMPDEPT_DDL
    AS SELECT   E.EMPNO, E.ENAME, E.JOB, E.MGR, E.HIREDATE,
                E.SAL, E.COMM, D.DEPTNO, D.DNAME, D.LOC
            FROM EMP E, DEPT D
            WHERE 1<>1;
            
SELECT * FROM EMPDEPT_DDL;

결과 :

![2-4](https://user-images.githubusercontent.com/53929665/94366325-6fb36900-0112-11eb-90f1-464bf4691ab8.JPG)

---
### [ 3. 테이블을 변경하는 ALTER ]
- `ALTER`명령어 :  
이미 생성된 오라클 데이터베이스 객체를 변경할 때 사용한다.  
즉, 테이블에 새 열을 추가/삭제, 자료형 변경 등 테이블 구조변경과 관련된 기능을 수행

#### (1) 테이블에 열 추가하는 ADD
- `ADD`키워드 (in `ALTER`) :  
추가할 열 이름과 자료형을 명시하면 테이블에 새 열을 추가 시킬 수 있다.


- 기본형태
```SQL
ALTER TABLE 변경할 테이블
    ADD 열 이름 자료형;
```

In [ ]:
--- 12-7
ALTER TABLE EMP_ALTER
    ADD HP VARCHAR2(20);

SELECT * FROM EMP_ALTER;

결과 : HP열이 추가되었다.

![3-1](https://user-images.githubusercontent.com/53929665/94366688-d76ab380-0114-11eb-94e8-83a169283c0e.JPG)

#### (2) 열 이름을 변경하는 RENAME
- `RENAME`키워드 (in `ALTER`) :  
테이블의 열 이름을 변경할 수 있다.


- 기본형태
```SQL
ALTER TABLE 변경할 테이블
    RENAME COLUMN [열 이름(변경 전)] TO [열 이름(변경 후)];
```

In [ ]:
--- 12-8
ALTER TABLE EMP_ALTER
    RENAME COLUMN HP TO TEL;

SELECT * FROM EMP_ALTER;

결과 : HP 열의 이름이 TEL로 바뀌었다.

![3-2](https://user-images.githubusercontent.com/53929665/94366689-d89be080-0114-11eb-81b2-5dae9d703d56.JPG)

#### (3) 열의 자료형을 변경하는 MODFIY
- `MODIFY`키워드 (in `ALTER`) :  
테이블의 특정 열의 자료형이나 길이를 변경할 때 사용


- 기본형태
```SQL
ALTER TABLE 변경할 테이블
    MODIFY [변경할 열 이름] [변경된 자료형]
```

In [ ]:
--- 12-9
ALTER TABLE EMP_ALTER
    MODIFY EMPNO NUMBER(5);

DESC EMP_ALTER;

결과 : 최대 숫자 4자리에서 5자리로 바뀌었다.

![3-3](https://user-images.githubusercontent.com/53929665/94366690-d89be080-0114-11eb-98d6-e96521fdeab6.JPG)

#### (4) 특정 열을 삭제할 때 사용하는 DROP
- `DROP`키워드 (in `ALTER`) :  
테이블의 특정 열을 삭제할 때 사용


- 열을 삭제하면 해당 열의 데이터도 함께 삭제되므로 신중하게 사용해야 한다.


- 기본형태
```SQL
ALTER TABLE 변경할 테이블
    DROP COLUMN [제거할 열 이름];
```

In [ ]:
--- 12-10
ALTER TABLE EMP_ALTER
    DROP COLUMN TEL;
   
SELECT * FROM EMP_ALTER;

결과 : TEL 열이 제거됨

![3-4](https://user-images.githubusercontent.com/53929665/94366691-d9347700-0114-11eb-9b61-cb8b85197640.JPG)

---
### [ 4. 테이블 이름을 변경하는 RENAME ]
- `RENAME`명령어 : 테이블의 이름을 변경할 때 사용


- 기본형태
```SQL
RENAME [변경할 테이블 이름] TO [변경된 테이블 이름];
```

In [ ]:
--- 12-11
RENAME EMP_ALTER TO EMP_RENAME;

SELECT * FROM EMP_RENAME;

결과 : 앞에서 생성한 EMP_ALTER테이블의 이름이 EMP_RENAME으로 변경됨
![4(2)](https://user-images.githubusercontent.com/53929665/94369713-6c29dd00-0126-11eb-9f3a-1abcbf7ef581.JPG)

- 만약 바뀌기 전의 테이블 이름을 사용시 아래와 같은 오류 메시지창이 출력된다.

In [ ]:
DESC EMP_ALTER;

![4(1)](https://user-images.githubusercontent.com/53929665/94369709-6b914680-0126-11eb-9a70-dd3352cf48cc.JPG)

---
### [ 5. 테이블의 데이터를 삭제하는 TRUNCATE ]
- `TRUNCATE`명령어 : 특정 테이블의 모든 데이터를 삭제한다.

- 데이터만 삭제하므로 테이블 구조에는 영향을 주지 않는다.


- (주의)  
`WHERE`절을 명시하지 않은 `DELETE`문 또한 테이블의 데이터 삭제가 가능하다.  
하지만, ☑(`TRUNCATE`는 DDL에 속하기 때문에 ROLLBACK이 되지 않는다는 점)에서 
`DELETE`문과 다르다. 즉 삭제 이후 복구할 수 없다.


- 기본형태
```SQL
TRUNCATE TABLE [데이터를 삭제할 테이블 이름];
```

In [ ]:
--- 12-12
TRUNCATE TABLE EMP_RENAME;

SELECT * FROM EMP_RENAME;

결과 : 테이블 구조를 제외한 데이터가 삭제되었다.
![5](https://user-images.githubusercontent.com/53929665/94369804-dcd0f980-0126-11eb-9c19-b41af199b93d.JPG)

---
### [ 6. 테이블을 삭제하는 DROP ]
- `DROP`명령어 : 데이터베이스 객체를 삭제하는 데 사용한다.
- 테이블이 삭제되므로 테이블에 저장된 데이터도 모두 삭제된다.

In [ ]:
--- 12-13
DROP TABLE EMP_RENAME;

결과 : 테이블이 삭제되어 EMP_RENAME 테이블을 사용할 수 없다.

In [ ]:
DESC EMP_RENAME;

![6](https://user-images.githubusercontent.com/53929665/94369888-579a1480-0127-11eb-9899-5c23c6d94ef9.JPG)